<!-- Header -->
<header class="app-header">
    <img src="/openchat-logo.png" alt="OpenChat Logo" class="logo" />
<a mat-icon-button href="https://github.com/henrique-milli/openchat" target="_blank" rel="noopener" aria-label="GitHub">
  <img src="/github-mark-white.png" alt="GitHub icon" />
</a>
</header>

<!-- Explainer -->
<section class="explainer">
  <h1>Run AI on your computer</h1>
  <h2>Private, secure, free</h2>
</section>

<!-- Chat Component -->
<main>
  <app-chat></app-chat>
</main>

<!-- Footer -->
<footer class="app-footer">
  <span>Powered by</span>
  <a href="https://hmd.digital" target="_blank"><img src="/hmd-logo.png" alt="HMD Digital Logo" class="footer-logo"/></a>
</footer>
